.page {
  min-height: 100svh;
  font-family: var(--font-pretendard);
  background-color: #fff;
  color: #344054;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 32px;
  grid-row-start: 2;
}